# Python Basics

In [132]:
print ("Hello Champs")

Hello Champs

### Variable & Types

In [135]:
z = 5.4
print(type(z))

<class 'float'>

In [136]:
a = 5
b = "Champ"
c = [1,2,3]
d = 5.2
%whos

Variable       Type        Data/Info
------------------------------------
a              int         5
arith          function    <function arith at 0x7f17861d88c0>
b              str         Champ
c              list        n=3
cleanData      list        n=2
d              float       5.2
data           str         Hello Champs
data2          str          Hello,Champs
data3          str         C:\Documentsiles
display        function    <function display at 0x7f17862400e0>
height         float       5.5
i              str         Weight
info           function    <function info at 0x7f1786202ef0>
name           str         Sanjay
numList        list        n=6
numlist        list        n=6
result         tuple       n=3
strList        dict        n=3
strippedData   str         Hello,Champs
sum            int         0
typeCheck      function    <function typeCheck at 0x7f17861f8b00>
var            str         Hello Champs
var1           int         20
var2           int         10
x              int         10
y              int         5
yearofbirth    int         1996
z              float       5.4

In [137]:
'''a = 5
b = "Champ"
c = [1,2,3]'''
d = 5.2
del d

# Operator - Arithmetic

In [138]:
a=10
b=5
print("a+b: ",a+b)
print("a-b: ",a-b)
print("a/b: ",a/b)
print("a%b: ",a%b) #
print("a*b: ",a*b)
print("a//b: ",a//b)
print("a**b: ",a**b) #pow(a,b) #power

a+b:  15
a-b:  5
a/b:  2.0
a%b:  0
a*b:  50
a//b:  2
a**b:  100000

# Operator -  Boolean

In [139]:
a=False
b=True
print(type(a))
print(type(b)) 
print((a and b) != (a or b))

<class 'bool'>
<class 'bool'>
True

# Operator - Comparison

In [140]:
x=10
y=5
print("x less than y: ",x<y)
print("x greater than y: ",x>y)
print("x equivalent to y: ",x==y)
print("x not equal to y: ",x!=y)
print("x less than or equal to y: ",x<=y)
print("x greater than equal to y: ",x>=y)

x less than y:  False
x greater than y:  True
x equivalent to y:  False
x not equal to y:  True
x less than or equal to y:  False
x greater than equal to y:  True

#Getting Input from user

In [143]:
name = str(input("Enter your name: "))
yearofbirth = int(input("Enter your year of Birth: "))
height = float(input("Enter your Height: "))
print("Name: {0}| YearOfBirth: {1}| Height: {2}".format(name,yearofbirth,height))

Enter your name: CHamp
Enter your year of Birth: 1995
Enter your Height: 5.6
Name: CHamp| YearOfBirth: 1995| Height: 5.6

# If Condition

In [145]:
a = 5
b = 5
if a<=b:
  print("a is less than b")
elif a==b:
  print("a is equal to b")
  print("a is not less than b")
  print("a is not greater than b")
else:
  print("a is greater than or equal to b")

a is equal to b
a is not less than b
a is not greater than b

# While

In [147]:
i = 0
while i<5:
  print(i)
  i+=1 #i=i+1

0
1
2
3
4
5

In [149]:
i = 1
while True:
  if i%10 !=0:
    print("Checking...")
    i+=1
    continue
  print("If-Completed")
  break
print("Completed")

Checking...
Checking...
Checking...
Checking...
Checking...
Checking...
Checking...
Checking...
Checking...
If-Completed
Completed

# For

In [150]:
for i in range(5):
  print(i)

0
1
2
3
4

In [153]:
for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [155]:
for i in range(10,1,-3):
  print(i)

10
7
4

# List

In [156]:
numList = []
for i in range (1,10):
  print(i)
  numList.append(i*16)
print(numList)

1
2
3
4
5
6
7
8
9
[16, 32, 48, 64, 80, 96, 112, 128, 144]

In [157]:
strList = {"Name":"sanjay","YOB":1996,"Weight":67}
for i in strList:
  print(i, strList[i])

Name sanjay
YOB 1996
Weight 67

# Functions

In [159]:
def display():
  print("Hello Champs")
  print("Hai")

display()

Hello Champs
Hai

In [160]:
def arith(a,b):
  sum = a+b
  diff = a-b
  div = a/b
  print("ADD: {0}, SUB: {1}, DIV: {2}".format(sum,diff,div))

var1 = int(input("Enter 1st Number: "))
var2 = int(input("Enter 2nd Number: "))
arith(var1,var2)

Enter 1st Number: 10
Enter 2nd Number: 5
ADD: 15, SUB: 5, DIV: 2.0

In [162]:
def arith(a,b):
  sum = a+b
  diff = a-b
  div = a/b
  return sum,diff,div

var1 = int(input("Enter 1st Number: "))
var2 = int(input("Enter 2nd Number: "))
result = arith(var1,var2)
print(result)
print("Difference: ",result[1])

Enter 1st Number: 10
Enter 2nd Number: 5
(15, 5, 2.0)
Difference:  15

In [164]:
def arith(*data):
  sum=0
  for i in range(len(data)):
    sum = sum+data[i]
  return sum

a=5
b=2
c=3
print("Total: ",arith(a,b,c))

Total:  10

In [165]:
def info(**data):
  for i in data:
    print("Variable Name is:",i)
    print("Variable Value is:", data[i])

info(x="Sanjay",b=24)

Variable Name is: x
Variable Value is: Sanjay
Variable Name is: b
Variable Value is: 24

In [167]:
def typeCheck(valuee):
  if isinstance(valuee,str):
    print("It is String")
  else:
    print("It is Number")
var = 100
typeCheck(var)

It is Number

# String

In [ ]:
data = "Hello Champs"

In [168]:
print(len(data)) #length of data
print(data[2]) #letter by its index
print(data[:6]) #Until Indexx
print(data[3:]) #From Index
print(data[1:11]) #From & To Index
print(data[::-1]) #reverse by index

12
l
Hello
lo Champs
ello Champ
spmahC olleH

In [170]:
data2 = " Hello,Champs " #data = 12:10:50
strippedData = data2.strip() #remove spaces in beginning and end
print(strippedData)
cleanData = strippedData.split(",") #Split data based on Delimitter
print(cleanData)
print(cleanData[0])
print(cleanData[1].upper()) #Changing into uppercase
print(cleanData[1].lower()) #Changing into lowercase
print(cleanData[1].capitalize()) #Changing into lowercase
print(strippedData.replace (",","*********")) #replacing

Hello,Champs
['Hello', 'Champs']
Hello
CHAMPS
champs
Champs
Hello*********Champs