###Sampling a Data from the whole Population

### Import Library

In [ ]:
import pandas as pd #useful for loading the dataset
import numpy as np

### Load Dataset from Local Directory

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving Dataset.csv to Dataset (1).csv

### Load Dataset

In [ ]:
dataset = pd.read_csv('Dataset.csv')
print(dataset.shape)
print(dataset.describe())
print(dataset.head(5))

(1460, 3)
                Id        LotArea      SalePrice
count  1460.000000    1460.000000    1460.000000
mean    730.500000   10516.828082  180921.195890
std     421.610009    9981.264932   79442.502883
min       1.000000    1300.000000   34900.000000
25%     365.750000    7553.500000  129975.000000
50%     730.500000    9478.500000  163000.000000
75%    1095.250000   11601.500000  214000.000000
max    1460.000000  215245.000000  755000.000000
   Id  LotArea  SalePrice
0   1     8450     208500
1   2     9600     181500
2   3    11250     223500
3   4     9550     140000
4   5    14260     250000

### Simple Random Sampling

In [ ]:
simpleRandomSample = dataset.sample(n=5).sort_values(by='Id')
mean_simpleRandomSample = round(simpleRandomSample['SalePrice'].mean(),3)
print("Mean of SimpleRandomSample:",mean_simpleRandomSample)
print(simpleRandomSample)

Mean of SimpleRandomSample: 172672.0
        Id  LotArea  SalePrice
59      60     7200     124900
324    325    11275     242000
400    401    14963     245500
569    570     7032     135960
1294  1295     8172     115000

###Systematic Sampling

In [ ]:
index = np.arange(0,len(dataset),step=3)
#print(index)
systematicSample = dataset.iloc[index]
mean_systematicSample = round(systematicSample['SalePrice'].mean(),3)
print("Mean of SystematicSample:",mean_simpleRandomSample)
print(systematicSample)

[   0    3    6    9   12   15   18   21   24   27   30   33   36   39
   42   45   48   51   54   57   60   63   66   69   72   75   78   81
   84   87   90   93   96   99  102  105  108  111  114  117  120  123
  126  129  132  135  138  141  144  147  150  153  156  159  162  165
  168  171  174  177  180  183  186  189  192  195  198  201  204  207
  210  213  216  219  222  225  228  231  234  237  240  243  246  249
  252  255  258  261  264  267  270  273  276  279  282  285  288  291
  294  297  300  303  306  309  312  315  318  321  324  327  330  333
  336  339  342  345  348  351  354  357  360  363  366  369  372  375
  378  381  384  387  390  393  396  399  402  405  408  411  414  417
  420  423  426  429  432  435  438  441  444  447  450  453  456  459
  462  465  468  471  474  477  480  483  486  489  492  495  498  501
  504  507  510  513  516  519  522  525  528  531  534  537  540  543
  546  549  552  555  558  561  564  567  570  573  576  579  582  585
  588  591  594  597  600  603  606  609  612  615  618  621  624  627
  630  633  636  639  642  645  648  651  654  657  660  663  666  669
  672  675  678  681  684  687  690  693  696  699  702  705  708  711
  714  717  720  723  726  729  732  735  738  741  744  747  750  753
  756  759  762  765  768  771  774  777  780  783  786  789  792  795
  798  801  804  807  810  813  816  819  822  825  828  831  834  837
  840  843  846  849  852  855  858  861  864  867  870  873  876  879
  882  885  888  891  894  897  900  903  906  909  912  915  918  921
  924  927  930  933  936  939  942  945  948  951  954  957  960  963
  966  969  972  975  978  981  984  987  990  993  996  999 1002 1005
 1008 1011 1014 1017 1020 1023 1026 1029 1032 1035 1038 1041 1044 1047
 1050 1053 1056 1059 1062 1065 1068 1071 1074 1077 1080 1083 1086 1089
 1092 1095 1098 1101 1104 1107 1110 1113 1116 1119 1122 1125 1128 1131
 1134 1137 1140 1143 1146 1149 1152 1155 1158 1161 1164 1167 1170 1173
 1176 1179 1182 1185 1188 1191 1194 1197 1200 1203 1206 1209 1212 1215
 1218 1221 1224 1227 1230 1233 1236 1239 1242 1245 1248 1251 1254 1257
 1260 1263 1266 1269 1272 1275 1278 1281 1284 1287 1290 1293 1296 1299
 1302 1305 1308 1311 1314 1317 1320 1323 1326 1329 1332 1335 1338 1341
 1344 1347 1350 1353 1356 1359 1362 1365 1368 1371 1374 1377 1380 1383
 1386 1389 1392 1395 1398 1401 1404 1407 1410 1413 1416 1419 1422 1425
 1428 1431 1434 1437 1440 1443 1446 1449 1452 1455 1458]
Mean of SystematicSample: 172672.0
        Id  LotArea  SalePrice
0        1     8450     208500
3        4     9550     140000
6        7    10084     307000
9       10     7420     118000
12      13    12968     144000
...    ...      ...        ...
1446  1447    26142     157900
1449  1450     1533      92000
1452  1453     3675     145000
1455  1456     7917     175000
1458  1459     9717     142125

[487 rows x 3 columns]

### Cluster Sampling

In [ ]:
n=5
 # Divide the units into cluster of equal size
dataset['cluster_id'] = np.repeat([range(1,n+1)],len(dataset)/n)
index = []
# For this formula, clusters id must be an even number
for i in range(0,len(dataset)):
    if dataset['cluster_id'].iloc[i]%2 == 0:
        index.append(i)
clusterSample = dataset.iloc[index]
mean_clusterSample = round(clusterSample['SalePrice'].mean(),3)
print("Mean of clusterSample:",mean_clusterSample)
print(clusterSample)

Mean of clusterSample: 178023.509
        Id  LotArea  SalePrice  cluster_id
292    293    11409     131000           2
293    294    16659     235000           2
294    295     9600     167000           2
295    296     7937     142500           2
296    297    13710     152000           2
...    ...      ...        ...         ...
1163  1164    12900     108959           4
1164  1165    16157     194000           4
1165  1166     9541     233170           4
1166  1167    10475     245350           4
1167  1168    10852     173000           4

[584 rows x 4 columns]

###Stratifield Random Sampling - Adding Subgroup(Strata)

In [ ]:
dataset = pd.read_csv('Dataset.csv')
dataset['strata'] = np.repeat([1,2],len(dataset)/2)
index = []
for i in range(0,len(dataset)):
  index.append(i)
stratifieldRandomSample = dataset.iloc[index]
stratifieldRandomSample

        Id  LotArea  SalePrice  strata
0        1     8450     208500       1
1        2     9600     181500       1
2        3    11250     223500       1
3        4     9550     140000       1
4        5    14260     250000       1
...    ...      ...        ...     ...
1455  1456     7917     175000       2
1456  1457    13175     210000       2
1457  1458     9042     266500       2
1458  1459     9717     142125       2
1459  1460     9937     147500       2

[1460 rows x 4 columns]

###Stratifield Random Sampling - Sampling

In [ ]:
#!pip intall scikit-learn
from sklearn.model_selection import StratifiedShuffleSplit as sss

# Set the split criteria
split = sss(n_splits=1, test_size=8)

# Perform data frame split
for x, y in split.split(dataset, dataset['strata']):
    stratifiedRandomSample = dataset.iloc[y].sort_values(by='SalePrice')

stratifiedRandomSample

        Id  LotArea  SalePrice  strata
594    595     7990     110000       1
37      38     8532     153000       1
1134  1135     8773     169000       2
936    937    10083     184900       2
1059  1060    11275     220000       2
1250  1251    11160     244000       2
47      48    11096     249700       1
157    158    12003     269500       1